@model _05.Fiap.Web.MVC.Models.Oficina

@{
                /**/

                ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(f => f.Nome)
        @Html.TextBoxFor(f => f.Nome)
    </div>
    <div class="form-group">
        @Html.CheckBoxFor(f => f.DiaNoite)
        @Html.LabelFor(f => f.DiaNoite)
    </div>
    <div class="form-group">
        @Html.LabelFor(f => f.Endereco)
        @Html.TextBoxFor(f => f.Endereco)
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.Tipo)
        @Html.DropDownListFor(l => l.Tipo, 
            ViewBag.listaTipo as SelectList, "Escolha um", new { @class = "form-control" } )
                <!-- Tambem tem como passar null no lugar do new class...-->
    </div>
    <input type="submit" value="Cadastrar" class="btn btn-primary" />
}